.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #8a909b;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-color: #f9fafb;
}

header {
  text-align: center;
}

main {
  display: flex;
  height: 80vh;
  gap: 1rem;
  padding: 1em;
}

.main-container {
  border-radius: 1em;
  box-shadow: 1px 1px 8px 3px #e3e3e4;
  padding: 2em;

  margin: 0;

}

#time-container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  flex-grow: 1;

}

#settings {
  display: flex;
  flex-direction: row-reverse;

  button {
    margin: .5em;
    background: none;
    border: none;
  }
}

#times {
  margin: 3rem auto;
  padding: auto 1em;

  text-align: center;
}

#principal-time {
  margin: 0;
  font-size: clamp(6rem, 5vw + 2rem, 12rem);
  font-weight: bold;
  color: #1f2937;
}

#secondary-time {
  margin: 0;
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  color: #686f7e;
}

#controls {
  text-align: center;

  button {
    margin: auto;
    border: none;
  }
}

#reset-button {
  background: none;

  span {
    font-size: 2.8em
  }
}

#play-button {
  border-radius: 45%;
  background-color: #ef4444;
  padding: .5em;

  span {
    /* background: none; */
    /* background-color: transparent; */
    font-size: 3.5em;
    color: whitesmoke;
  }
}


/* TASK CONTAINER */

#task-container {
  height: 5vh;
  width: auto;
  aspect-ratio: 1 / 1;

  text-align: center;

  /* position: fixed; */
  right: 1rem;

  #add-task-button {
    margin: auto;
    width: 50%;
    height: 8%;

    border: none;
    border-radius: .5em;

    background-color: #ef4444;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1rem;

    display: none;
  }

  hr {
    display: none;
  }

  h2 {
    margin: 0;
    font-size: 1rem;
    display: inline;
  }

  div {
    display: none;
  }
}

#task-container.expand {
  height: 70vh;
  width: 24vw;

  #add-task-button {
    display: block;
  }

  hr {
    display: block;
  }

  h2 {
    font-size: 2rem;
    display: inline;
  }

  div {
    display: block;
  }
}

#arrow-task {
  background: none;
  color: #ef4444;

  border: none;
  display: inline;
  font-weight: bolder;
}

#table-task-container {
  border: 1px solid black;
}

.item-task {
  text-align: left;
  padding: .5rem;
  margin: .3rem;

  border: 1px solid blue;

  input {
    margin: 10px;
  }

  button {
    margin: 10px;
    visibility: hidden;
  }
}

.item-task:hover {
  button {
    visibility: visible;
  }
}


/* NOTE: change appearance of button radio */

button:hover {
  cursor: pointer;
}

/* MODAL */
.modal {
  top: 25vh;
  left: 25vw;
  position: fixed;

  height: 40vh;
  width: 50vw;

  background-color: whitesmoke;
  border-radius: 1em;
  box-shadow: 1px 1px 8px 3px #e3e3e4;

  display: none;
  text-align: center;

  padding: 2rem;
}

#close-modal-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
