.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  color: #8a909b;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

body {
  background-color: #f9fafb;
}

header {
  text-align: center;
}

main {
  display: grid;
  height: 50vh;
  grid-template-columns: minmax(50vw, 2fr) 1fr;
  gap: 2em;

  padding: 2em
}

.main-container {
  border-radius: 1em;
  box-shadow: 1px 1px 8px 3px #e3e3e4;
  padding: 2em;

  margin: 0;

}

#time-container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;

  height: 100%;
}

#settings {
  display: flex;
  flex-direction: row-reverse;

  button {
    margin: .5em;
    background: none;
    border: none;
  }
}

#times {
  margin: 3rem auto;
  padding: auto 1em;

  text-align: center;
}

#principal-time {
  margin: 0;
  font-size: clamp(6rem, 5vw + 2rem, 12rem);
  font-weight: bold;
  color: #1f2937;
}

#secondary-time {
  margin: 0;
  font-size: clamp(2rem, 5vw + 1rem, 3rem);
  color: #686f7e;
}

#controls {
  text-align: center;

  button {
    margin: auto;
    border: none;
  }
}

#reset-button {
  background: none;

  span {
    font-size: 2.8em
  }
}

#play-button {
  border-radius: 45%;
  background-color: #ef4444;
  padding: .5em;

  span {
    /* background: none; */
    /* background-color: transparent; */
    font-size: 3.5em;
    color: whitesmoke;
  }
}

task-container {
  height: 100%;
  text-align: center;

  button {
    margin: auto;
    width: 60%;

    border: none;
    border-radius: .5em;

    background-color: #ef4444;
  }
}

#table-task-container {
  border: 1px solid black;
}

#item-task {
  text-align: left;
}


/* NOTE: change appearance of button radio */

button:hover {
  cursor: pointer;
}
